<header class="header">
  Async pipe with promises and observable
</header>
<main class="container">
  <section class="async-container">
    <div class="timer">
      Run promise after 3 seconds. Timer: {{ seconds }} sec. 
      <ng-container *ngIf="seconds === 3">Complete.</ng-container>
    </div>
    <app-async-first-method></app-async-first-method>
    <app-async-second-method></app-async-second-method>
    <p><i>"This two codes results the same behaviour. In second case We just save some writing."</i></p>
  </section>
  <hr>
  <section class="observable-container">
    <p class="observable-description">
      Show power of a number for 0-10:
    </p>
    <app-observable-method></app-observable-method>
    <app-observable-async-method></app-observable-async-method>
  </section>
  <hr>
  <section class="summary">
    <h4>Summary</h4>
    <ul>
      <li>Async pipe makes rendering data from observable and promises easier</li>
      <li>While use observable and async pipe, we do not need to subscribe.</li>
      <li>By using async pipe we don't need to perform the subscribe function</li>
      <li>For promises automatically calls then we dont store any intermediate data on our component</li>
      <li>For observables automatically calls subscribe and unsubscribe</li>
    </ul>
  </section>
</main>
