<div class="card card-block">
    <div class="card-text">
      ObservableAsyncPipe: <span>{{ observableAsyncData | async }}</span><ng-container *ngIf="observableAsyncData===81">. Complete!</ng-container>
    </div>
</div> 