/* You can add global styles to this file, and also import other style files */


@import "~bootstrap/dist/css/bootstrap.css";

body, html {
    margin: 0;
    padding: 0;
}

.header {
  font-size: 28px;
  background-color: cornflowerblue;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.form {
  margin-top: 50px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 25px;
}

.header {
  font-size: 28px;
  background-color: darkgoldenrod;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.container {
  width: 600px;
  margin: 25px Auto;
  background-color: rgb(245, 245, 245);
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}

h3, h4 {
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"] {
  margin-bottom: 10px;
}

.card-text {
  padding: 10px 15px;
}
.card {
  margin-bottom: 10px;
}